*.swp
*.aux
*.log
*.out
*.toc
*.backup
inc/htmlpurifier/HTMLPurifier/DefinitionCache/Serializer/URI/
inc/htmlpurifier/HTMLPurifier/DefinitionCache/Serializer/CSS/
.htaccess
.user.ini
admin/.htaccess
admin/.htpasswd
config.php
sessions
mtadump-*.sql
*.pyc
*~
\#*
