Chris Thornton <cwthornt@cs.ubc.ca> Chris <cwthornt@ucalgary.ca>
Miguel Gamis <mglgms@cs.ubc.ca> MiguelGamis <mgl_gms@hotmail.com>
Miguel Gamis <mglgms@cs.ubc.ca> Miguel Gamis <mglgms@alvand.cs.ubc.ca>
James Wright <jrwright@cs.ubc.ca> James Wright <james@chumsley.org>
